body {
    background-color: #f8f9fa;
    font-family: 'Anek Devanagari', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #f19305;
    font-weight: 700;
    font-size: 30px;
}

/* Contenedor principal del producto y relacionados */
#productoContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
}

/* Carousel del producto */
#carouselProducto {
    width: 600px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#carouselProducto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Imagen dentro del carousel */
#imagenesProducto {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

/* Contenedor de la columna de productos relacionados */
#productosRelacionadosContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea todo a la derecha */
    width: 250px;
    gap: 10px;
}

/* Título de productos relacionados alineado a la derecha */
#productosRelacionadosContainer h2 {
    text-align: right;
    width: 100%;
    margin: 0 0 10px 0;
}

/* Productos relacionados */
#productosRelacionados .card {
  transition: transform 0.2s;
  width: 100%;
}

#productosRelacionados .card:hover {
  transform: scale(1.03);
}




/* Responsivo */
@media screen and (max-width: 1024px) {
    #productoContainer {
        flex-direction: column;
        align-items: center;
    }

    #carouselProducto,
    #productosRelacionadosContainer {
        width: 100%;
    }

    #productosRelacionadosContainer h2 {
        text-align: center;
    }


    #productosRelacionados {
        flex-direction: row;
        overflow-x: auto;
        gap: 10px;
    }

    #productosRelacionados .producto {
        flex: 0 0 auto;
    }
}

#titulo-comentarios {
    color: #f19305;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

#titulo-productosRelacionados {
    color: #f19305;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

#related-products .producto {
    color: #5D96CF;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    
}
