body{
    background-color: #f09200;
    font-family: Anek Devanagari, sans-serif;
}

#productos {
  display: flex;
  flex-direction: column;  
  gap: 20px;
  max-width: 90%;
  max-height: 60000px;
  margin: 20px auto;
}

.card {
  display: flex;
  flex-direction: row;
  height: 150px;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.2s, box-shadow 0.2s;

}

.card-img-top {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body {
  flex: 1;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}