body{
    background-color: #f8f9fa;
    font-family: Anek Devanagari, sans-serif;
}

h2 {
  color: #f19305;
  font-weight: 700;
}

/* id del div donde se encuentran los productos */
#productos {
  display: flex;
  flex-direction: column;  
  gap: 20px;
  max-width: 90%;
  max-height: 60000px;
  margin: 20px auto;
}

/* class del div que contiene cada producto */
.card {
  display: flex;
  flex-direction: row;
  height: 150px;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.2s, box-shadow 0.2s;

}

/* class de la imagen del producto */
.card-img-top {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

/* Parte blanca de la etiqueta del producto */
.card-body {
  flex: 1;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* precio del producto */
.fw-bold {
  font-weight: 700;
  color: #5D96CF;
}

/* cantidad de vendidos */
.text-muted {
  color: #6c757d !important;
  font-size: medium;
}

/* donde se encuentran el precio y la cantidad de vendidos */
.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

/* nombre del producto */
.card-title {
 color: #5D96CF;
 text-align: center;
}

/* descripcion del producto */
.card-text {
text-align: center;
}


@media (max-width: 770px) {
  #productos {
    max-width: 100%;
    margin: 10px;
  }

  .card {
    flex-direction: row;
    height: auto;
  }

  .card-img-top {
    width: 30%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }

  .card-body {
    padding: 20px;
    text-align: center;
  }

  .card-footer {
    flex-direction: row;
    gap: 10px;
    width: 20%;
  }
}


@media (max-width: 320px) {
 
  body{
    font-size-adjust: xx-small;
  }

  .card {
    flex-direction: column;
    width: 100%;
    height: 30px;
  }

  .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }

  .card-body {
    padding: 5px;
    text-align: center;
  }

  .card-footer {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}